<app-page-title title="About Me"></app-page-title>

<div class="row">
    <div id="about-me-text-div" class="col-4">
        <p id="hey-text" class="mt-4">Hey I'm Finley!</p>

        <p class="mt-4">
            I'm a full stack developer with a background in game development and marketing.
            I love solving difficult problems, designing user-focused web experiences, and learning new ways to better my code.
            No matter what I'm working on, I strive to deliver creative, quality solutions.
        </p>
        <p class="mt-4">
            Above all else, I believe success is achieved through respect, understanding, and integrity :)
        </p>

        <h3 class="mt-5">Proficiencies</h3>
        <ul>
            <li>TypeScript & JavaScript</li>
            <li>Angular & AngularJS</li>
              <li>RxJS</li>
            <li>C++</li>
            <li>SQLite3</li>
            <li>Node.js</li>
            <li>HTML5</li>
            <li>CSS & SCSS</li>
            <li>Cypress & Katalon</li>
            <li>Karma & Jasmine</li>
        </ul>

        <h3 class="mt-5">Contact</h3>
        <h5>
            <a
                id="email-link"
                href="mailto: finley.williamson@gmail.com"
                target="_blank">
                finley.williamson@gmail.com
            </a>
        </h5>
    </div>
    <div class="col-8"></div>
</div>
