h3, h5, p, ul {
    color: white;
}

#hey-text {
    font-weight: bold;
    font-style: italic;
}

.subheading {
    font-size: 28px;
}

#about-me-text-div {
    width: 568px;
}

#email-link {
    font-size: 16px;
    text-decoration: none;
}