<app-page-title title="About Me"></app-page-title>

<div class="row">
    <div class="col-4">
        <p class="mt-4">
            Pok pok helvetica fingerstache paleo tote bag subway tile.
            Craft beer sustainable artisan, scenester sus green juice 
            heirloom franzen shoreditch salvia literally freegan messenger bag.
        </p>
        <p class="mt-4">
            Single-origin coffee fingerstache sartorial,
            occupy vexillologist fixie brunch keytar pinterest.
            Brooklyn direct trade succulents readymade quinoa.
        </p>
        <p class="mt-4">
            Truffaut semiotics chillwave, enamel pin 3 wolf moon bodega boys.
        </p>

        <h3 class="mt-5">Proficiencies</h3>
        <ul>
            <li>Woke green juice selfies</li>
            <li>Poutine banh mi</li>
            <li>Shaman schlitz</li>
            <li>Tilde Gastropub</li>
            <li>Quinoa craft beer</li>
            <li>Blue bottle hashtag</li>
        </ul>

        <h3 class="mt-5">Contact</h3>
        <h5>
            <a
                id="email-link"
                href="mailto: finley.williamson@gmail.com"
                target="_blank">
                finley.williamson@gmail.com
            </a>
        </h5>
    </div>
    <div class="col-8"></div>
</div>
