.full-width-height {
    width: 100vw;
    height: 100vh;
}

#title-card {
    width: 45vw;
    font-weight:700;
    font-style: bold;
    font-size: 4em;
}

#see-work-button {
    padding: 10px 50px;
    font-size: 20px
}