<!-- <div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            
        </div>
        <div class="col-3"></div>
    </div>
</div> -->

<div class="position-relative full-width-height">
    <div class="position-absolute top-50 start-50 translate-middle text-left">
        <!-- <h1 id="title-card">Full Stack Developer Specializing in Angular and TypeScript</h1> -->
        <h1 id="title-card">
            Full stack web dev with experience in Angular, AngularJS, C++, and SQLite3
        </h1>
        <button
            id="see-work-button"
            class="btn btn-outline-primary mt-2"
            routerLink="/portfolio">
            See My Work
        </button>
    </div>
</div>
