@use './styles/colors.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');

$primary: colors.$main-purple;

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

* {
    font-family: 'Montserrat';
    color: white;
}

body {
    background: black;
}