.default-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.default-row {
  @extend .default-column;
  flex-direction: row;
}

.fitness-tracker-container {
  gap: 1rem;
  padding: 1rem;
}

.select-and-info-container {
  .info-button {
    border: 2px solid white;
    border-radius: 50%;
    width: 32px !important;
    height: 32px !important;
  }
}

.visibility-hidden {
  visibility: hidden;
}

.big-text {
  font-size: 5rem;
}

.giant-text {
  font-size: 7rem;
}

.override-button-disabled {
  opacity: inherit !important;
  background-color: inherit !important;
}
